.lead {
  max-width: 984px;
  margin: 0 auto;
  text-align: center;
}

.lead__title {
  max-width: 720px;
  margin: 100px auto 32px;
  font-size: 96px;
  font-weight: 900;
  line-height: 1.04;
}

.lead__subtitle {
  max-width: 720px;
  margin: 0 auto 64px;
  font-size: 30px;
  font-weight: 400;
  line-height: 1.2;
}

.lead__image {
  width: 100%;
  display: block;
  object-fit: cover;
}

@media screen and (max-width: 1024px) {
  .lead {
    padding: 0;
  }
  .lead__title {
    font-size: 72px;
    line-height: 1.06;
  }
}

@media screen and (max-width: 544px) {
  .lead {
    padding: 0;
  }
  .lead__title {
    font-size: 40px;
    line-height: 1.1;
  }
  .lead__subtitle {
    font-size: 16px;
    line-height: 1.25;
  }
}
